.custom-swiper{
    width:80%;
    height: 500px;
    margin: 50px auto;
}

.custom-swiper.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-swiper.swiper-button-next,
.custom-swiper.swiper-button-prev{
    color: blueviolet;
    padding: 10px 15px;
    border-radius: 50%;
}

.custom-swiper.swiper-pagination-bullet{
    background-color: chocolate;
    opacity: 0.7;
}



